html,
body {
  height: 100%;
  font-family: "Microsoft Yahei";
}

li,
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 100%;
  font: inherit;
}
.nav {
  position: absolute;
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  background: rgba(35, 29, 29, 0.8);
  height: 60px;
  top: 0;
  z-index: 99;
  width: 100%;
}
.nav_logo {
  float: left;
  width: 125px;
  height: 44px;
  background: url(/p/image/2019/header-logo.png) no-repeat top center;
  margin-left: 15px;
  margin-top: 8px;
}
.mb_menubutton {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  background: no-repeat center center;
  background-size: 100% auto;
  margin-top: 10px;
  cursor: pointer;
  background-image: url(/p/image/2019/open.png);
}

.mb_menubutton_x {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  background: no-repeat center center;
  background-size: 100% auto;
  margin-top: 10px;
  cursor: pointer;
  background-image: url(/p/image/2019/close.png);
  display: none;
}

.menu {
  position: absolute;
  width: 100%;
  margin-top: 60px;
  display: none;
}
.nav_row {
  display: block;
  text-decoration: none;
  line-height: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  float: right;
  width: 100%;
  background: rgba(35, 29, 29, 1);
  font-family: "Microsoft JhengHei", sans-serif;
}
.nav_row > img {
  display: none;
}
.nav_row_inbox {
  display: block;
}
.nav_row_inbox ul > li {
  font-weight: 600;
  background: rgba(35, 29, 29, 1);
  width: 100%;
  float: left;
}
.nav_row_inbox ul > li:first-child {
  border-top: #dbdbdb solid 1px;
}
.nav_row_inbox ul > li:last-child {
  border-bottom: #dbdbdb solid 0.5px;
}
.nav_row_inbox ul > li span {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 7.5px;
  margin-left: 5%;
  float: left;
  margin-right: 2%;
  border-radius: 50px;
  background: no-repeat center center;
  background-size: auto;
}
.nav_game {
  text-align: left;
  width: 100%;
  color: white;
  float: left;
  height: 60px;
  border-bottom: rgba(119, 119, 119, 0.5) solid 0.5px;
}
.nav_game > i {
  display: none;
}
.home,
.fb,
.service {
  display: block;
  padding-left: 2%;
  width: 23%;
  height: 60px;
  float: right;
}

.home {
  background: url(/p/image/2019/earth.png) no-repeat center center;
  background-size: 30px 30px;
  border-left: rgba(119, 119, 119, 1) solid 0.5px;
}
.fb {
  background: url(/p/image/2019/fb.png) no-repeat center center;
  background-size: 30px 30px;
}
.service {
  background: url(/p/image/2019/service.png) no-repeat center center;
  background-size: 30px 30px;
}

.swiper-container {
  width: 100%;
  height: calc(100% - 60px);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slidebg {
  width: 100%;
  height: 100%;
  background: no-repeat top center;
  background-size: auto 100%;
  color: white;
}

.homebox {
  position: absolute;
  width: 50%;
  text-align: center;
  line-height: 40px;
  font-family: "Microsoft Yahei";
  bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  z-index: 5;
}

.homebox_black {
  background: rgba(29, 28, 28, 0.5);
  padding: 15px;
}
.gametitle {
  font-weight: 300;
  font-size: 30px;
}
.gametext {
  display: none;
}

.homebutton {
  display: block;
  width: 145px;
  height: 48px;
  background: url(/p/image/2019/home_button_off.png) no-repeat top center;
  margin: 10px auto 0 auto;
}
.homebutton:hover {
  background: url(/p/image/2019/home_button.png) no-repeat top center;
}
.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}
.gametext {
  color: #cfcdcd;
  font-size: 16px;
}
.footer {
  font-family: "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  background: rgba(35, 29, 29, 1);
  height: 60px;
  top: 0;
  z-index: 99;
  width: 100%;
  clear: both;
}
.footer_container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  font-family: "Microsoft Yahei";
  line-height: 60px;
  text-align: center;
  color: #c0bebe;
  font-size: 12px;
  background: rgba(35, 29, 29, 1);
}
.footer_container a {
  display: none;
}
.content-terms {
  padding: 100px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-terms b {
  font-weight: bold;
}

.content-terms h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.67em;
}

.content-terms h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.content-terms .anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}
.info {
  font-size: 0.85rem;
  line-height: 200%;
}

@media screen and (min-width: 760px) {
  .mb_menubutton {
    display: none;
  }
  .mb_menubutton_x {
    display: none;
  }
  .nav {
    position: absolute;
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(35, 29, 29, 0.8);
    height: 60px;
    top: 0;
    z-index: 99;
    width: 100%;
  }
  .nav_container {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }
  .nav_logo {
    float: left;
    width: 125px;
    height: 44px;
    background: url(/p/image/2019/header-logo.png) no-repeat top center;
    margin-top: 8px;
  }
  .nav_logo img {
    height: 44px;
    width: 40px;
    margin-top: 8px;
  }
  .menu {
    position: absolute;
    display: block;
    margin-top: 0;
    width: 150px;
    right: 0;
  }
  .nav_row {
    display: block;
    text-decoration: none;
    line-height: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    width: 150px;
    font-family: "Microsoft JhengHei", sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
  }
  .nav_row > img {
    display: inline-block;
  }
  .nav_row:hover {
    background: #373737;
  }

  .nav_row_inbox {
    width: 380px;
    display: none;
  }
  .nav_row_inbox ul > li {
    float: left;
    width: 380px;
    background: rgba(35, 29, 29, 0.8);
    border-left: rgba(119, 119, 119, 1) solid 0.5px;
    border-right: rgba(119, 119, 119, 1) solid 0.5px;
  }
  .nav_row_inbox ul > li span {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 7.5px;
    margin-left: 7.5px;
    float: left;
    margin-right: 20px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 0px;
  }
  .nav_game {
    line-height: 60px;
    text-align: left;
    width: 380px;
    color: white;
    float: left;
    height: 60px;
    border-bottom: rgba(119, 119, 119, 0.5) solid 0.5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
  }

  .nav_game > i {
    display: inline-block;
    font-size: small;
  }
  .home,
  .fb,
  .service {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    float: right;
    border-left: rgba(119, 119, 119, 1) solid 0.5px;
    opacity: 0.6;
  }
  .home {
    background: url(/p/image/2019/earth.png) no-repeat center center;
    background-size: 30px 30px;
  }
  .fb {
    background: url(/p/image/2019/fb.png) no-repeat center center;
    background-size: 30px 30px;
  }
  .service {
    background: url(/p/image/2019/service.png) no-repeat center center;
    background-size: 30px 30px;
  }

  .home:hover,
  .fb:hover,
  .service:hover {
    opacity: 1;
  }

  .nav_row_inbox ul > li:first-child {
    border-top: none;
  }
  .nav_row_inbox ul > li:last-child {
    border-bottom: rgba(119, 119, 119, 1) solid 0.5px;
  }

  .swiper-container {
    width: 100%;
    height: calc(100% - 60px);
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slidebg {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    color: white;
  }

  .gametitle {
    font-weight: 300;
    font-size: 40px;
  }
  .gametext {
    display: block;
  }

  .homebutton {
    display: block;
    width: 145px;
    height: 48px;
    background: url(/p/image/2019/home_button_off.png) no-repeat top center;
    margin: 10px auto 0 auto;
  }
  .homebutton:hover {
    background: url(/p/image/2019/home_button.png) no-repeat top center;
  }
  .swiper-button-prev {
    display: block;
    background: url(/p/image/2019/swiper_prev.png) no-repeat top center;
  }
  .swiper-button-next {
    display: block;
    background: url(/p/image/2019/swiper_next.png) no-repeat top center;
  }

  .homebox {
    position: absolute;
    width: 380px;
    margin-left: 18%;
    bottom: 60%;
    text-align: center;
    line-height: 40px;
    font-family: "Microsoft Yahei";
    z-index: 5;
  }

  .homebox_black {
    background: 0;
    padding: 0;
  }

  .gametext {
    color: #cfcdcd;
  }

  .footer {
    font-family: "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    background: rgba(35, 29, 29, 1);
    height: 60px;
    top: 0;
    z-index: 99;
    width: 100%;
    clear: both;
  }
  .footer_container {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    font-family: "Microsoft Yahei";
    line-height: 60px;
    text-align: center;
    color: #c0bebe;
    font-size: 12px;
    background: rgba(35, 29, 29, 1);
  }
  .footer_container a {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    color: #c0bebe;
    background: rgba(35, 29, 29, 1);
  }
  .footer_container a:link,
  .footer_container a:active,
  .footer_container a:visited {
    color: #c0bebe;
  }
  .footer_container a:hover {
    color: #9c9c9c;
  }

  .content-terms {
    padding: 100px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }
  .content-terms b {
    font-weight: bold;
  }
  .content-terms h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.67em;
  }

  .content-terms h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }

  .content-terms .anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  }
  .info {
    font-size: 0.85rem;
    line-height: 200%;
  }
}
